<h1>Login </h1>
<p id="notice"><%= notice %></p>
<%if @ok != "error"%>
  <form action="/check_user" target="_self" method="get">
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email" value=""><br>
    <label for="pass">Password:</label><br>
    <input type="password" id="pass" name="pass" value=""><br><br>
    <input type="submit" value="Submit">
  </form>
<%else%>
  <%= link_to 'Back', "/main" %>
<%end%>
